<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
         <v-toolbar class="toolbar">
            <img class="mainIcon" src="https://img.favpng.com/12/9/16/pregnancy-childbirth-infant-woman-surgery-png-favpng-bsQdbVv3sRSCkjaExuTxKSVDA.jpg" width="30px" height="30px" />

            <v-toolbar-title class="toolbarTitle">Pregnant</v-toolbar-title>
            <v-toolbar-items class="subtitletoolber">borned to life</v-toolbar-items>
            <v-spacer></v-spacer>
            <div class="toolberBtns" v-if="isLogged==false">
                <v-btn href="/home/login">Войти</v-btn>
                <v-btn  href="/home/reg">Регестрация</v-btn>
            </div>
            <div v-if="isLogged==true" class="toolberBtns" >
                <span >Здраствуйте {{username}}</span>
                <a href="/home/logout">Выйти</a>
            </div>
        </v-toolbar>
    <v-app>

        <div >
            <v-container class="d-flex">
             <v-card class=" mt-6 menu mr-6">
                <v-list>
                    <v-list-item-group v-model="model" >
                        <v-list-item
                            v-for="(item, i) in menu"
                            :key="i"
                            :href="item.url"
                            >
                            <v-list-item-content >
                            <v-list-item-title v-text="item.name"></v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                        </v-list-item-group>
                    </v-list>
               </v-card>

            <div>
                {% for item in topic %}
                <v-card max-width="750px" class="mt-6" outlined>
                    <v-list-item>
                        <v-list-item-content>
                            <v-list-item-title class="headline">{{item.title}}</v-list-item-title>
                             <v-list-item-subtitle>Дата публикаций:{{item.date_add}}</v-list-item-subtitle>
                        </v-list-item-content>
                        <div>
                            <v-btn href="topic/{{item.id}}">Перейти</v-btn>
                        </div>
                    </v-list-item>
                </v-card>

                {% endfor %}
            </div>

            <div class="mt-6 ml-12">
                <v-btn @click="dialog = true">Создать тему</v-btn>

                <v-dialog v-model="dialog" max-width="500px" >
                       {% if forum.errors %}
                            {% for field in forum %}
                                {% for error in field.errors %}
                                    <div class="errors">
                                         <v-alert type="error" dismissible>
                                            {{error}}
                                        </v-alert>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}

                        <v-card class="pa-6">
                            <v-card>
                                <v-card-title class="headline">Добавление темы</v-card-title>
                                <hr>
                                    <form method="POST" class="d-flex flex-column">
                                        {% csrf_token %}
                                        <label>Название:{{forum.title}} </label>
                                        <label>Описание:{{forum.text}}</label>
                                        <input type="submit" />
                                    </form>
                            </v-card>
                        </v-card>
                </v-dialog>
            </div>
        <div>

        </div>
    </v-container>
    </div>
    </v-app>
  </div>
</body>
</html>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      mounted(){
        this.dialog={{dialog}}
        this.isLogged={{islogged}};
        this.username='{{username}}';
        this.isAdmin={{isAdmin}}
      },
      data()
      {
            return{
                menu:[{name:'Главная страница',url:'index'},{name:'Форум',url:'forum'},{name:'Срочная помощь'},{name:'Подготовка к ребенку'},{name:'Отзывы'}],
                model:'',
                dialog:false,
                news_name:"",
                news_text:"",
                news_img:"",
                news_tag:"",
                enter:false,
                topic:[],
                isLogged:false,
                isAdmin:false,
                username:"",
            }
      },
      methods:{
        editNews(news)
        {
            console.log(news)
             this.news_name=news.name;
             this.news_text=news.text;
             this.news_img=news.img;
             this.news_tag=news.tag;
             this.dialog=true;
        }
      }
    })
  </script>


<style>
.errors
{
    position: absolute;
    top: 0;
    width: 500px;
    right: 0;
}
.toolberBtns
{
    margin-right:100px;
}
.subtitletoolber
{
    align-items:center;
    margin-left:10px;
    margin-top:6px;
}
.toolbarTitle
{
    font-size:30px;
}
.MainIcon
{
    margin-left:100px;
    margin-right:30px;
}
.newsFormInput
{
    border:1px solid black;
    border-radius:5px;
}
    .menu{
        height:300px;
    }
    .NewsText{
        width:600px;
    }
</style>