 <v-toolbar class="toolbar">
            <img class="mainIcon" src="https://img.favpng.com/12/9/16/pregnancy-childbirth-infant-woman-surgery-png-favpng-bsQdbVv3sRSCkjaExuTxKSVDA.jpg" width="30px" height="30px" />

            <v-toolbar-title class="toolbarTitle">Pregnant</v-toolbar-title>
            <v-toolbar-items class="subtitletoolber">borned to life</v-toolbar-items>
            <v-spacer></v-spacer>
            <div class="toolberBtns">
                <v-btn>Войти</v-btn>
                <v-btn>Регестрация</v-btn>
            </div>
 </v-toolbar>

<!-- TODO нужно придумать как правильно передовать компонент-->