<v-toolbar class="toolbar">
            <img class="mainIcon" src="https://img.favpng.com/12/9/16/pregnancy-childbirth-infant-woman-surgery-png-favpng-bsQdbVv3sRSCkjaExuTxKSVDA.jpg" width="30px" height="30px" />

            <v-toolbar-title class="toolbarTitle">Pregnant</v-toolbar-title>
            <v-toolbar-items class="subtitletoolber">borned to life</v-toolbar-items>
            <v-spacer></v-spacer>
            {% if not user.is_authenticated %}
            <div class="toolberBtns" >
                <v-btn href="/home/login">Войти</v-btn>
                <v-btn  href="/home/reg">Регестрация</v-btn>
            </div>
            {% else  %}
            <div  class="toolberBtns" >
                <span >Здравствуйте</span>
                <v-btn  href="/home/profile/{{user.id}}">{{user.username}}</v-btn>
                <a href="/home/logout">Выйти</a>
            </div>
            {% endif %}
</v-toolbar>