<v-toolbar class="toolbar">
            <img class="mainIcon" src="https://img.favpng.com/12/9/16/pregnancy-childbirth-infant-woman-surgery-png-favpng-bsQdbVv3sRSCkjaExuTxKSVDA.jpg" width="30px" height="30px" />

            <v-toolbar-title class="toolbarTitle">Pregnant</v-toolbar-title>
            <v-toolbar-items class="subtitletoolber">borned to life</v-toolbar-items>
            <v-spacer></v-spacer>
            <div class="toolberBtns" v-if="isLogged==false">
                <v-btn href="/home/login">Войти</v-btn>
                <v-btn  href="/home/reg">Регестрация</v-btn>
            </div>
            <div v-if="isLogged==true" class="toolberBtns" >
                <span >Здраствуйте</span>
                <v-btn  href="/home/profile/{{username.id}}">{{username.user}}</v-btn>
                <a href="/home/logout">Выйти</a>
            </div>
</v-toolbar>