<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
      {% include 'header.html' %}
    <v-app>

        <div >
            <v-container class="d-flex">
              {% include 'menu.html' %}
            <div class="hospitals">
                {% for item in hospitals %}
                <v-card width="600px" class="mt-6" outlined>
                    <v-list-item>
                        <v-list-item-content>
                            <v-list-item-title class="headline">{{item.name}}</v-list-item-title>
                        </v-list-item-content>
                        <div>
                            <v-btn href="/home/hospital/{{item.id}}">Перейти</v-btn>
                        </div>
                    </v-list-item>
                </v-card>
                {% endfor %}
                <div class="mt-4">

                </div>


            </div>
            <div class="mt-6 ml-6" v-if="isAdmin==true">
                <v-btn  @click="dialog = true">Добавить больницу</v-btn>

                <v-dialog v-model="dialog" max-width="500px" >
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="errors">
                                         <v-alert type="error" dismissible>
                                            {{error}}
                                        </v-alert>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                        <v-card class="pa-6">
                            <v-card>
                                <v-card-title class="headline">Добавление больницы</v-card-title>
                                <hr>
                                <form method="POST" class="d-flex flex-column">
                                    {% csrf_token %}
                                    <label>Название</label>
                                    {{form.name}}
                                    <input type="submit" />
                                </form>
                            </v-card>
                        </v-card>
                </v-dialog>
            </div>

    </v-container>
    </div>
    </v-app>
  </div>
</body>
</html>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      mounted()
      {
          this.isLogged={{islogged}};
          this.username='{{username}}';
          this.isAdmin={{isAdmin}};
          if({{open}})
          {
            this.dialog=true;
          }
      },
      data()
      {
            return{
                menu:[{name:'Главная страница',url:'index'},{name:'Форум',url:'forum'},{name:'Подготовка к ребенку',url:'prep'},{name:'Отзывы',url:'MaternityHospital'}],
                model:'',
                dialog:false,
                news_name:"",
                news_text:"",
                news_img:"",
                news_tag:"",
                enter:false,
                username:'',
                isLogged:false,
                isAdmin:false,

            }
      },
      methods:{
        editNews(news)
        {
            console.log(news)
             this.news_name=news.name;
             this.news_text=news.text;
             this.news_img=news.img;
             this.news_tag=news.tag;
             this.dialog=true;
        }
      }
    })
  </script>


<style>
.hospitals
{
    width:600px;
}

td
{
    border:1px solid black;
}
.comment
{
    font-size:14px;
}
.dateAdd
{
    font-size:12px;
}
.errors
{
    position: absolute;
    top: 0;
    width: 500px;
    right: 0;
}
.toolberBtns
{
    margin-right:100px;
}
.subtitletoolber
{
    align-items:center;
    margin-left:10px;
    margin-top:6px;
}
.toolbarTitle
{
    font-size:30px;
}
.MainIcon
{
    margin-left:100px;
    margin-right:30px;
}
.newsFormInput
{
    border:1px solid black;
    border-radius:5px;
}
  .menu{
        height:220px;
    }
    .NewsText{
        width:600px;
    }
</style>